{{- if ne .chezmoi.osRelease.name "Arch Linux" }}
.config/yay
{{- end }}
{{- if ne .chezmoi.hostname "khyan-ks" }}
.config/qq-bwrap-flags.conf
.local/bin
.local/share/applications
Pictures
{{- end }}
