export XDG_CACHE_HOME="${XDG_CACHE_HOME:-$HOME/.cache}"
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/.local/share}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-$HOME/.local/state}"

{{- if stat (joinPath .chezmoi.homeDir ".chezetc") }}
export PATH="$HOME/.chezetc:$PATH"
{{- end }}

export _Z_DATA="$XDG_DATA_HOME/z"
export CUDA_CACHE_PATH="$XDG_CACHE_HOME"/nv
export DOTNET_CLI_HOME="$XDG_DATA_HOME"/dotnet
export ETC_SRC="$XDG_DATA_HOME"/chezmoi/.chezetc
export GNUPGHOME="$XDG_DATA_HOME"/gnupg
export IDAUSR="$XDG_DATA_HOME"/ida
export WINEPREFIX="$XDG_DATA_HOME"/wine
